<app-card [formGroup]="form">
    <app-row>
        <mat-form-field class="w230" appearance="outline">
            <mat-label>Название поля</mat-label>
            <input matInput required formControlName="paramSn">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w230">
            <mat-label>Тип фильтра</mat-label>
            <mat-select required formControlName="filterType">
                <mat-option [value]="FilterType.Numeric">Числовой</mat-option>
                <mat-option [value]="FilterType.Boolean">Логический</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf=" form.get('filterType').value && form.get('filterType').value !== FilterType.Boolean">
            <mat-form-field class="w230 mr15" appearance="outline">
                <mat-label>Тип сравнения</mat-label>
                <mat-select required formControlName="compareType">
                    <mat-option [value]="ComparisonType.More">Больше</mat-option>
                    <mat-option [value]="ComparisonType.Less">Меньше</mat-option>
                    <mat-option [value]="ComparisonType.Equal">Равно</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w230 ml10" appearance="outline">
                <mat-label>Значение</mat-label>
                <input
                    matInput
                    required
                    formControlName="value"
                    [appInputMask]="{ alias: 'numeric', digits: 2 }">
            </mat-form-field>
        </div>

        <div *ngIf="form.get('filterType').value && form.get('filterType').value === FilterType.Boolean">
            <mat-form-field appearance="outline" class="w230">
                <mat-label>Значение</mat-label>
                <mat-select required formControlName="value">
                    <mat-option [value]="true">True</mat-option>
                    <mat-option [value]="false">False</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="ml20">
            <button class="item__action" mat-icon-button (click)="powerSwitch()">
                <mat-icon [color]="form.disabled ? 'warn' : 'primary'">
                    {{ form.disabled ? 'power_off' : 'power' }}
                </mat-icon>
            </button>

            <button class="item__action" mat-icon-button (click)="removeChange.emit(id)">
                <mat-icon color="warn">delete_forever</mat-icon>
            </button>
        </div>
    </app-row>
</app-card>
