<app-card [formGroup]="form">
    <app-row>
        <mat-form-field class="w200" appearance="outline">
            <mat-label>Колонка</mat-label>
            <input matInput readonly formControlName="name">
        </mat-form-field>

        <mat-form-field class="w180 mr15" appearance="outline">
            <mat-label>Тип сравнения</mat-label>
            <mat-select required formControlName="compareType">
                <mat-option [value]="ComparisonType.More">Больше</mat-option>
                <mat-option [value]="ComparisonType.Less">Меньше</mat-option>
                <mat-option [value]="ComparisonType.Equal">Равно</mat-option>
                <mat-option [value]="ComparisonType.Range">Диапазон</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="form.get('compareType').value && form.get('compareType').value !== ComparisonType.Range">
            <mat-form-field class="w180 ml10" appearance="outline">
                <mat-label>Значение</mat-label>
                <input
                    matInput
                    required
                    formControlName="value"
                    [appInputMask]="{ alias: 'numeric', digits: 2 }">
            </mat-form-field>
        </div>

        <div *ngIf="form.get('compareType').value && form.get('compareType').value === ComparisonType.Range">
            <mat-form-field class="w180 ml10" appearance="outline">
                <mat-label>Значение от</mat-label>
                <input matInput
                       required
                       formControlName="valueFrom"
                       [appInputMask]="{ alias: 'numeric', digits: 2 }">
            </mat-form-field>

            <mat-form-field class="w180 ml20" appearance="outline">
                <mat-label>Значение до</mat-label>
                <input
                    matInput
                    required
                    formControlName="valueTo"
                    [appInputMask]="{ alias: 'numeric', digits: 2 }">
            </mat-form-field>
        </div>

        <div class="ml20">
            <button
                mat-icon-button
                class="item__action"
                (click)="switchOn()">
                <mat-icon [color]="form.disabled ? 'warn' : 'primary'">
                    {{ form.disabled || form.invalid ? 'power_off' : 'power' }}
                </mat-icon>
            </button>
        </div>
    </app-row>
</app-card>
