<div class="page-title-bar">
    <app-title class="page-title mr-auto">
        Загрузка тестов
    </app-title>

    <app-buttons>
        <button
            [disabled]="form.get('content').invalid || !params.length"
            (click)="next()"
            type="button"
            color="primary"
            mat-raised-button>
            Далее
        </button>
    </app-buttons>
</div>

<app-card>
    <div class="mb20">
        <button
            (click)="paste()"
            type="button"
            color="primary"
            mat-raised-button>
            Загрузить из буфера обмена
            <mat-icon class="mat-18 ml5">refresh</mat-icon>
        </button>
    </div>

    <div [formGroup]="form" *ngIf="form.get('content').value && params.length">
        <div class="wrapper">
            <app-card formGroupName="columns" class="m15">
                <app-title class="page-title mr-auto">
                    Дополнительные колонки
                </app-title>

                <app-row class="mt20">
                    <div *ngFor="let column of columns">
                        <mat-checkbox
                            class="checkbox-row w260"
                            [formControlName]="column.controlName">
                            <span class="checkbox-title"> {{column.title}} </span>
                        </mat-checkbox>
                    </div>
                </app-row>
            </app-card>

            <app-card class="m15">
                <app-title class="page-title mr-auto mt20">
                    Колонка параметров советника
                </app-title>

                <app-row formGroupName="params" class="mt20">
                    <div *ngFor="let param of params">
                        <mat-checkbox
                            class="checkbox-row w260"
                            [formControlName]="param">
                            <span class="checkbox-title"> {{param}} </span>
                        </mat-checkbox>
                    </div>
                </app-row>
            </app-card>
        </div>
    </div>

    <app-card *ngIf="form.get('content').value && !params.length">
        <app-title class="page-title justify-content-center color-warn mt50">
            Неверный формат входных данных!
        </app-title>
        <p class="color-warn"> {{form.get('content').value}} </p>
    </app-card>
</app-card>

<app-loading-overlay *ngIf="isLoader"></app-loading-overlay>
