<div class="page-title-bar">
    <app-title class="page-title mr-auto">
        Загрузка тестов
    </app-title>

    <app-buttons>
        <button
            [disabled]="form.pristine || form.invalid"
            (click)="convert()"
            type="button"
            color="primary"
            mat-raised-button>
            Конвертировать
        </button>
    </app-buttons>
</div>

<app-card [formGroup]="form">
    <div class="wrapper">
        <app-row>
            <mat-checkbox formControlName="params" class="checkbox-row w230 mb24 mt4">
                <span class="checkbox-title">Параметры</span>
            </mat-checkbox>

            <mat-form-field appearance="outline" class="w230">
                <mat-label>Количество параметров</mat-label>
                <input
                    matInput
                    required
                    formControlName="paramsLength"
                    [appInputMask]="{ alias: 'integer' }">
            </mat-form-field>
        </app-row>

        <app-row>
            <mat-checkbox formControlName="profitable" class="checkbox-row w230">
                <span class="checkbox-title">Прибыльность</span>
            </mat-checkbox>

            <mat-checkbox formControlName="mathExpectation" class="checkbox-row w230">
                <span class="checkbox-title">Матожидание</span>
            </mat-checkbox>

            <mat-checkbox formControlName="dropDownPercent" class="checkbox-row w230">
                <span class="checkbox-title">Просадка %</span>
            </mat-checkbox>
        </app-row>

        <app-row class="mt20">
            <mat-form-field class="w-full textarea" appearance="outline">
                <mat-label>Тесты</mat-label>
                <textarea
                    matInput
                    required
                    formControlName="content"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="40"
                ></textarea>
            </mat-form-field>
        </app-row>
    </div>
</app-card>

<app-loading-overlay *ngIf="isProcess"></app-loading-overlay>
